@use "../variables/colors";
@use "../variables/typography";

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.secondary-header {
  text-align: center;
  width: max-content;
  margin-inline: auto;

  @media (min-width: 35rem) {
    text-align: left;
  }

  @media (min-width: 64rem) {
    grid-column: span 2;
    font-size: 1.75rem;
  }

  strong {
    color: colors.$white;
    text-transform: uppercase;
    letter-spacing: typography.$tracking-widest;

    span {
      color: colors.$white-050;
      font-family: typography.$secondary-body;
      font-weight: 700;
      line-height: typography.$leading-normal;
      margin-right: 1.125rem;
    }
  }
}
