$black: hsl(230, 35%, 7%);
$black-500: hsl(230, 35%, 7%, 0.5);
$purple: hsl(231, 77%, 90%);
$white: hsl(0, 0%, 100%);
$white-nav: hsl(0, 0%, 100%, 0.1);
$white-header-line: hsl(0, 0%, 100%, 0.25);
$black-nav: hsl(0, 0%, 0%, 0.75);
