$black: hsl(230, 35%, 7%);
$black-050: hsl(230, 35%, 7%, 0.5);
$black-075: hsl(0, 0%, 0%, 0.75);

$purple: hsl(231, 77%, 90%);

$white: hsl(0, 0%, 100%);
$white-050: hsl(0, 0%, 100%, 0.5);
$white-040: hsl(0, 0%, 100%, 0.4);
$white-010: hsl(0, 0%, 100%, 0.1);
$white-025: hsl(0, 0%, 100%, 0.25);
