$headings: "Bellefair", serif;
$body: "Barlow", sans-serif;
$secondary-body: "Barlow Condensed", sans-serif;

/* Letter spacing */
$tracking-normal: 0em;
$tracking-wide: 0.025em;
$tracking-wider: 0.05em;
$tracking-widest: 0.169rem;

/* Line Height */
$leading-normal: 1.5;
$leading-relaxed: 1.625;
$leading-loose: 2;
