@use "../variables/colors";
@use "../variables/typography";
@use "../sass-utils/helpers";

body {
  background-image: url("../../assets/crew/background-crew-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;

  @media (max-width: 768px) {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
  }

  @media (min-width: 35rem) and (max-width: 64rem) {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;

  @media (min-width: 35rem) {
    grid-template-rows: repeat(2, auto);
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 4rem;
  }
}

.img-wrapper {
  height: 33vh;
  position: relative;
  @media (min-width: 35rem) {
    height: calc(45vh + 4px);
    grid-row: 2;
  }

  @media (min-width: 64rem) {
    grid-column: 2;
    grid-row: span 3;
    height: calc(70vh + 7px);
  }

  img {
    display: block;
    margin-inline: auto;
    height: 100%;
    width: 180px;

    @media (min-width: 35rem) {
      width: 456px;
    }
  }

  @media (max-width: 767px) {
    &:after {
      content: "";
      display: inline-block;
      position: absolute;
      width: 100%;
      height: 1px;
      background-color: colors.$white-010;
    }
  }
}

.content {
  display: grid;
  place-items: center;
  gap: 4rem;

  @media (min-width: 35rem) {
    grid-template-rows: repeat(2, auto);
  }

  @media (min-width: 64rem) {
    grid-column: 1;
    grid-template-rows: repeat(2, max-content);
    place-items: initial;
    grid-row: 1/4;
    place-self: center;
  }

  ul {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    list-style: none;
    width: max-content;

    @media (min-width: 35rem) {
      grid-row: 2;
    }

    @media (min-width: 64rem) {
      align-self: end;
      margin: 0;
      gap: 1.5rem;
    }

    li {
      button {
        aspect-ratio: 1;
        background-color: colors.$white-025;
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        width: 10px;

        @media (min-width: 64rem) {
          width: 15px;
        }

        &.active {
          background-color: colors.$white;
        }

        &:hover {
          background-color: colors.$white-025;
        }

        span {
          display: inline-block;
          aspect-ratio: 1;
          width: 1px;
          visibility: collapse;
        }
      }
    }
  }

  article {
    text-align: center;

    @media (min-width: 64rem) {
      text-align: left;
    }
    h1,
    strong {
      font-family: typography.$headings;
      text-transform: uppercase;
    }

    strong {
      color: colors.$white-050;
      display: block;
      line-height: typography.$leading-normal;
      margin-bottom: 0.5rem;

      @media (min-width: 35rem) {
        font-size: 1.25rem;
        line-height: typography.$leading-relaxed;
      }
      @media (min-width: 64rem) {
        font-size: 2rem;
      }
    }

    h1 {
      color: colors.$white;
      font-size: 1.25rem;
      line-height: typography.$leading-normal;
      margin-bottom: 1rem;

      @media (min-width: 35rem) {
        font-size: 2.5rem;
        line-height: typography.$leading-relaxed;
      }
      @media (min-width: 64rem) {
        font-size: 3.5rem;
        line-height: typography.$leading-relaxed;
      }
    }

    p {
      color: colors.$purple;
      line-height: typography.$leading-normal;
      font-family: typography.$body;

      @media (min-width: 64rem) {
        font-size: 1.125rem;
      }
    }
  }
}
