@use "../variables/colors";
@use "../variables/fonts";
@use "../components/header";

body {
  background-image: url("../../assets/home/background-home-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;

  @media (max-width: 768px) {
    background-image: url("../../assets/home/background-home-mobile.jpg");
  }

  @media (min-width: 35rem) and (max-width: 64rem) {
    background-image: url("../../assets/home/background-home-tablet.jpg");
  }
}

main {
  padding-block: 2rem;
  padding-inline: clamp(1.5rem, 7vw, 25rem);
}

.wrapper {
  display: grid;
  gap: clamp(5rem, 5vw, 10rem);

  @media (min-width: 64rem) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    min-height: 60vh;
    align-items: end;
  }
}

.content {
  text-align: center;

  @media (min-width: 64rem) {
    text-align: left;
  }

  p {
    color: colors.$purple;
    font-family: fonts.$secondary-paragraph;
    text-transform: uppercase;
    letter-spacing: fonts.$tracking-widest;
    line-height: fonts.$leading-5;

    @media (min-width: 64rem) {
      font-size: 1.75rem;
      line-height: fonts.$leading-8;
    }
  }

  h1 {
    color: colors.$white;
    font-family: fonts.$title;
    text-transform: uppercase;
    letter-spacing: fonts.$tracking-wide;
    line-height: fonts.$leading-loose;
    font-size: 5rem;

    @media (min-width: 64rem) {
      font-size: 9.375rem;
      line-height: fonts.$leading-normal;
    }
  }

  h1 ~ p {
    font-family: fonts.$paragraph;
    text-transform: none;
    letter-spacing: fonts.$tracking-normal;
    line-height: fonts.$leading-relaxed;
    letter-spacing: fonts.$tracking-wide;

    @media (min-width: 64rem) {
      font-size: 1.125rem;
    }
  }
}

.explore-button {
  align-items: center;
  aspect-ratio: 1;
  background-color: colors.$white;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-inline: auto;
  width: 150px;
  transition: box-shadow 0.5s ease-out;

  @media (min-width: 35rem) {
    width: 242px;
  }

  @media (min-width: 64rem) {
    width: 274px;
    margin: 0;
    justify-self: end;
  }

  &:hover {
    box-shadow: 1px 1px 1px 80px colors.$black-500;
  }

  span {
    color: colors.$black;
    font-size: 1.25rem;
    font-family: fonts.$title;
    text-transform: uppercase;
    line-height: fonts.$leading-6;
    letter-spacing: fonts.$tracking-wide;
    a {
      text-decoration: none;
      color: inherit;

      &:visited {
        color: inherit;
      }
    }
  }
}
