@use "../variables/colors";
@use "../variables/typography";
@use "../sass-utils/helpers";

body {
  background-image: url("../../assets/technology/background-technology-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  overflow-x: hidden;

  @media (max-width: 768px) {
    background-image: url("../../assets/technology/background-technology-mobile.jpg");
  }

  @media (min-width: 35rem) and (max-width: 64rem) {
    background-image: url("../../assets/technology/background-technology-tablet.jpg");
  }
}

main {
  margin-block: 2rem;
  // padding-inline: clamp(1.5rem, 15vw, 25rem);
}

.wrapper {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: 2rem;
  margin-top: 2rem;

  @media (min-width: 64rem) {
    display: flex;
    grid-template-rows: repeat(2, auto);
    gap: 4rem;
    padding-inline-start: 10rem;
    align-items: center;
  }

  .img-wrapper {
    display: block;
    background-image: url(../../assets/technology/image-launch-vehicle-landscape.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 40vh;
    width: 100vw;

    @media (min-width: 64rem) {
      background-image: url(../../assets/technology/image-launch-vehicle-portrait.jpg);
      background-size: cover;
      background-position: center center;
      height: 527px;
      max-width: 515px;
      order: 3;
    }
  }

  .content {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, auto));
    gap: 2rem;

    @media (min-width: 64rem) {
      grid-template-columns: auto auto auto;
      gap: 4rem;
      place-items: center;
    }

    ul {
      display: flex;
      justify-content: space-between;
      gap: 1rem;
      width: max-content;
      margin-inline: auto;

      @media (min-width: 64rem) {
        flex-direction: column;
        justify-content: flex-start;
        gap: 2.5rem;
        grid-column: 1;
        grid-row: 1;
      }
      li {
        button {
          aspect-ratio: 1;
          background-color: colors.$white;
          border: 0;
          border-radius: 100%;
          cursor: pointer;
          font-family: typography.$title;
          width: 40px;

          @media (min-width: 35rem) {
            width: 60px;
            font-size: 1.5rem;
          }

          @media (min-width: 64rem) {
            font-size: 2rem;
          }
        }
      }
    }

    article {
      text-align: center;
      padding-inline: clamp(1.5rem, 7vw, 25rem);
      max-width: 32rem;

      @media (min-width: 64rem) {
        grid-column: 2;
        grid-row: 1;
        padding-inline: 0;
        text-align: left;
      }

      strong {
        display: block;
        font-family: typography.$secondary-paragraph;
        color: colors.$purple;
        text-transform: uppercase;
        letter-spacing: typography.$tracking-wider;
      }

      h1 {
        color: colors.$white;
        font-size: 1.5rem;
        line-height: typography.$leading-relaxed;
        font-family: typography.$title;
        text-transform: uppercase;
        letter-spacing: typography.$tracking-wide;

        @media (min-width: 64rem) {
          font-size: 3.5rem;
        }
      }

      p {
        color: colors.$purple;
        line-height: typography.$leading-relaxed;

        @media (min-width: 64rem) {
          font-size: 1.125rem;
        }
      }
    }
  }
}
